.container{
	height: 200px;
	width: 400px;
	position: absolute;
    background-color: #ccc;
    left:50%; 
    top:50%;  
    margin-left:-200px; 
    margin-top:-100px;
    overflow: hidden;
}
.corner1,.corner2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fc0;
}
.corner1{
	position: absolute;
	top: -50px;
	left: -50px;
}

.corner2{
	position: absolute;
	bottom: -50px;
	right: -50px;
}